# Mac OS X
*.DS_Store

# Python
*.pyc

# Ignore these folders:
Build

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
Localizable.strings
project.xcworkspace/
xcuserdata/
# osx_workspace.xcworkspace/xcshareddata/
.xcodeproj/ !*.xcodeproj/project.pbxproj